{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>

  <div class="grid">
    <div class="card">
      <h3>Total records</h3>
      <p class="big">{{ kpis.total_records }}</p>
    </div>
    <div class="card">
      <h3>Average value</h3>
      <p class="big">{{ kpis.avg_value }}</p>
    </div>
    <div class="card">
      <h3>Last updated</h3>
      <p class="big">{{ kpis.last_updated }}</p>
    </div>
    <div class="card">
      <h3>Top SalesPerson</h3>
      <p class="big">{{ kpis.top_salesperson }}</p>
      <p> Total revenue: {{kpis.top_salesperson_revenue}}</p>
    </div>
  </div>

<h2 style="margin-top: 24px;">Top 5 Salespeople</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total revenue</th>
    </tr>
  </thead>
  <tbody>
    {% for name, revenue in top_5 %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ revenue }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}